* {
    margin: 0%;
    padding: 0%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    .navbar {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(192, 191, 191);
        width: 80%;
        align-items: center;
        height: 50px;

        .content1 {
            margin-left: 70px;
            display: flex;
            gap: 25px;

            a {
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
        }

        .icons1 {
            display: flex;
            gap: 5px;

            i {
                font-size: 20px;
            }
        }
    }

    .title {
        display: flex;
        gap: 5px;
        margin-top: 35px;
        margin-bottom: 35px;

        i {
            font-size: 50px;
        }

        h1 {
            font-size: 50px;
            /* font-family: 'Poppins', sans-serif;
            font-weight: 700; */
            color: #002d72;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;

            /* adjust color */
        }
    }

    .subnavbar {
        display: flex;
        gap: 30px;

        a {
            text-decoration: none;
            font-size: 25px;
            color: black;
        }
    }

    .cards {
        /* border: 2px solid blue; */
        border-top: 1px solid rgb(179, 178, 178);
        padding-top: 30px;
        width: 83%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;


        .card {
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            /* border: 2px solid red; */
            background-color: rgb(235, 232, 232);
            border-radius: 10px;
            padding: 5px;

            img {
                width: 400px;
                height: 250px;
                border-radius: 10px;
            }

            h1 {
                font-size: 22px;
                color: black;
            }

            .p2 {
                border-top: 1px solid red;
                padding-top: 5px;
                color: black;
            }
        }
    }
    .footer{
        background-color: rgb(23, 23, 123);
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        color: white;
        width: 100%;
        padding: 20px;
        .title2{
            i{
                font-size: 45px;
                margin-left: 20px;
            }
            h1{
                font-size: 25px;
            }
        }
        .followus{
            border-top: 1px solid white;
            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            h1{
                font-size: 20px;
                margin-top: 20px;
            }
            .icons2{
                font-size: 35px;
                /* border: 1px solid gray; */
                

            }
        }
    }

}